body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
}


.intro {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px 0;
    transition: background-color 1.00s ease;
}
body.scrolled .intro {
    background-color: white;
    color: black;
}

.about {
    padding: 50px 0;
    text-align: center;
}

/* Portfolio section styles */
.portfolio {
    padding: 50px 0;
    text-align: center;
}


.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.portfolio-item {
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item img {
    width: auto;
    height: auto;
}






