body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styles for the entire page */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
.intro {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px 0;
    transition: background-color 0.5s ease;
}
/* Header transition on scroll */
body.scrolled .intro {
    background-color: white;
    color: black;
}

/* About Me section styles */
.about {
    padding: 50px 0;
    text-align: center;
}

/* Portfolio section styles */
.portfolio {
    padding: 50px 0;
    text-align: center;
}

/* Portfolio grid styles */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px;
}

.portfolio-item {
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}






