body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
}

p.invasiveborder {
border-style: hidden;
border-color: gray;
margin: 80px;

}


.intro {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px 0;
    transition: background-color 1.00s ease;
}
body.scrolled .intro {
    background-color: white;
    color: black;
}

.about {
    display: flex;
    padding: 50px 0;
    margin-right: 150px;
    margin-left: 150Px;
    align-items: center;
    justify-content: center;
}

/* Portfolio section styles */
.portfolio {
    padding: 50px 0;
    text-align: center;
}


.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 40px;
}

.portfolio-item {
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease;
}

.portfolio-item:hover {
    transform: scale(1.2);
}

.portfolio-item img {
    max-width: 50%;
    max-height: 50%;
}






